<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

</head>

<body>

  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        Tertip belgisi: <%= contact.id %>
      </div>
      <div class="card-body">
        <h5 class="card-title">Ady: <%= contact.name %>
        </h5>
        <h6 class="card-title">Emaily: <%= contact.email %>
        </h6>
        <h6 class="card-title">Telefon nomeri: <%= contact.phone_num %>
        </h6>
        <p class="card-text">Haty: <%= contact.message %>
        </p>
        <a href="/admin/contact" class="btn btn-danger">Yza çykmak</a>
      </div>
    </div>
  </div>

  <script src="/assets/js/bootstrap.min.js"></script>

</body>

</html>